<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

    <div>
        <a href="?cmd=ctf_form">Celsius to Fahrenheit</a> |
        <a href="?cmd=ftc_form">Fahrenheit to Celsius</a>
    </div>

    <div id="content" tpl-include="{{ $template }}"></div>

</body>
</html>
